#!/bin/sh

# function to "declare" the database that exist
if [[ -n $(postgresql-check-db-dir {{datadir}}) ]]; then
	echo "Need to initialize"
	rm -r -f {{datadir}}
    chkconfig postgresql on
	/usr/bin/postgresql-setup initdb -D {{datadir}}
	if [[ -n $(postgresql-check-db-dir {{datadir}}) ]]; then
		if [[ "$#" == *"0"* ]];then
			sleep 1 m
			/usr/bin/postgresql_create 1
		fi
	else
		service postgresql restart
	fi
else
    echo "already init"
fi