[Unit]
Description=Create the root user

[Service]
Type=simple
User=root

ExecStart=/usr/bin/postgresql_create_root

[Install]
WantedBy=multi-user.target
